include README.md LICENSE
recursive-include chert *
prune chert/scaffold/site

recursive-exclude *.egg-info *
recursive-exclude chert/scaffold_old *
recursive-exclude * *.py[co]
recursive-exclude * *.coverage
recursive-exclude * __pycache__
