#layer-accent-div-1 {
    padding-top: 0px;
    border-top: 4px solid #000;
}

#layer-accent-div-2 {
    padding-top: 0px;
    border-top: 4px solid #666;
}

#layer-accent-div-3 {
    padding-top: 0px;
    border-top: 4px solid #AAA;
}

#header {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 750px) {
    #header {
        margin-bottom: 0;
    }
}

#header h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header h1 a {
    color: #222;
    text-decoration: none;
}

#previously-div h5 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#tagline-p {
    margin-bottom: 0.5rem;
}

#main-links-p {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

#main-links-p a {
    margin-left: 5px;
    margin-right: 5px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 0.3rem 0.5rem;
}

dd:before {
    content: '- ';
}

pre {
    /* display: inline-block; */
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    padding: 1.3rem;
    font-size: 1.3rem;
}

span.tags {
    margin-left: 1rem;
}

span.tags a {
    color: #AAA;
}

div.footnote {
    font-size: 1.3rem;
}

div.footnote li {
    margin-bottom: 0;
}

div.footnote li p {
    margin-bottom: 0;
}

div.footnote hr {
    /* border: none; */
    border-top: 2px solid #CCC;
    margin: 10px 0;
    text-align: center;
}

div.footnote hr:after {
    content: "#";
    display: inline-block;
    position: relative;
    top: -1.1rem;
    padding: 0 0.25rem;
    background: white;
}

div.footnote ol {
    list-style: outside none decimal;
}

/* real footer styles */

#footer {
    text-align: center;
    border-bottom: 5px solid #444;
}

/* sticky footer necessities. See
http://github.com/mahmoud/skeleton_sticky_footer for more. */

html, body {
    height: 100%;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

/* Uncomment this to get the same style for manual heading links as the Table of Contents autolinks

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #222;
    text-decoration: none;
}*/

.toclink {
    color: #222;
    text-decoration: none;
}

.toctitle {
    font-size: 1.8rem;
    font-weight: bold;
}

div.toc ul {
    list-style-type: decimal;
    margin: 1rem 0 1rem 2rem;
}

div.toc > ul {
    margin-left: 0.5rem;
}

div.toc li {
    margin-bottom: 0.5rem;
}

div.toc {
    border: 1px solid #CCC;
    display: inline-block;
    padding: 0.5rem 0.7rem 0 0.7rem;
    margin-bottom: 1rem;
}

/* I found Skeleton's default heading sizes too large for my liking */
h1 {font-size: 3.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.75rem;}
h5 {font-size: 1.6rem; font-weight: bold;}
h6 {font-size: 1.5rem; text-decoration: underline;}
