#layer-accent-div-1 {
    padding-top: 0px;
    border-top: 4px solid #000;
}

#layer-accent-div-2 {
    padding-top: 0px;
    border-top: 4px solid #666;
}

#layer-accent-div-3 {
    padding-top: 0px;
    border-top: 4px solid #AAA;
}

#header {
    text-align: center;
}

#header h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* real footer styles */

#footer {
    text-align: center;
    border-bottom: 5px solid #444;
}

/* sticky footer necessities. See
http://github.com/mahmoud/skeleton_sticky_footer for more. */

html, body {
    height: 100%;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}
